$blue: #738bd7;
$blueHover: #5c6fac;
$red: #b83741;
$redHover: #be3a3d;
$redArea: rgba(198, 39, 52, 0.1);
$green: #3da1a5;
$greenHover: #379195;
$greenArea: rgba(61, 161, 165, 0.1);
$white: #fff;

$background: #f7f7f7;
$backdrop: rgba(255, 255, 255, 0.9);
$backgroundNavigation: #0a0909;
$backgroundContainer: #fcfcfc;
$backgroundField: #f7f7f7;
$backgroundDialog: #fcfcfc;
$backgroundBackdrop: rgba(0, 0, 0, 0.7);
$backgroundHover: #f6f6f6;
$backgroundSelected: #e6e6e6;
$backgroundCheckbox: #cfcfcf;
$borderGray: #e0e0e0;
$borderGrayOpacity: #262626;
$borderFocus: #cfcfcf;
$borderNavigation: $white;
$linkColor: #4a72f3;
$mainColor: #333333;
$secondColor: #666666;
$fontColorButton: $white;
$fontColorbtnBlack: $mainColor;
$svgColor: #666666;

$padding: 12px;
$inputPadding: 6px 12px;
$mediaMobileWidth: 767px;
$containerMinWidth: 1024px;
$gapSize: 1px;
$radius: 2px;
$fontSizeSmall: 11px;
$fontSizeNormal: 12px;
$fontSizeBig: 13px;
