$blue: #738bd7;
$blueHover: #5c6fac;
$red: #ee494c;
$redHover: #be3a3d;
$redArea: rgba(227, 94, 65, 0.3);
$green: #41a275;
$greenHover: #34825e;
$greenArea: rgba(0, 180, 136, 0.3);
$white: #fff;

$background: #0a0909;
$backdrop: rgba(0, 0, 0, 0.9);
$backgroundNavigation: $background;
$backgroundContainer: #161616;
$backgroundField: #1d1c1c;
$backgroundDialog: #1e1e1e;
$backgroundBackdrop: rgba(0, 0, 0, 0.7);
$backgroundHover: #292929;
$backgroundSelected: #393939;
$backgroundCheckbox: #fff;
$borderGray: rgba(255, 255, 255, 0.1);
$borderGrayOpacity: #262626;
$borderFocus: #7e7e7e;
$borderNavigation: $blue;
$linkColor: $blue;
$mainColor: $white;
$secondColor: #97999a;
$fontColorButton: $white;
$fontColorbtnBlack: $mainColor;
$svgColor: #fff;

$padding: 12px;
$inputPadding: 6px 12px;
$mediaMobileWidth: 767px;
$containerMinWidth: 1024px;
$gapSize: 1px;
$radius: 2px;
$fontSizeSmall: 11px;
$fontSizeNormal: 12px;
$fontSizeBig: 13px;
